/* Font import */
@font-face{
    font-family: Noto sans CJ Kjp;
    src: url('../fonts/NotoSerifJP/NotoSerifJP-Regular.otf');
}
@font-face{
    font-family: Tomatoes;
    src: url("../fonts/TOMATOES Personal Use.ttf");
}
@font-face{
    font-family: Noto-Serif-Jp;
    src: url("../fonts/NotoSerifJP/NotoSerifJP-Regular.otf");
}

/* text font */
body {
    margin: 0px;
    padding: 0px;
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif !important;
}
/* column padding remove */
.col-lg-12,.col-md-12{
padding-left: 0px;
padding-right: 0px;
}
/* carousel caption in middle */
.carousel-caption{
    position: absolute;
    right: 15%;
    top: 56%;
    transform: translate(0,-56%);
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.header-wrapper{
    position: absolute;
     z-index: 9999; 
}
.arrowSign{
    margin-top: 20%;
    transform: translate(0,20%);
}
.arrowSign a{
text-decoration: none;
color: whitesmoke;
font-size: 34px;
font-weight: 200;
z-index: 99999;
}
.header-rightside{
    position: absolute;
     z-index: 9999; 
     top: 90%;
     transform: translate(0,-90%);
     right: 0px;
}
.header-rightside .rightside a .calendarcolor{
    color: white;
    background-color: #4c3315;
    padding-bottom: 0px;
}
.header-rightside .rightside a .calendarcolor i{
    color: white;
    padding: 2px 8px;
}
.header-rightside .rightside{
    text-align: center;
    height: 169px;
    width: 30px;
  margin-left: 100%;
  transform: translate(-100%,0);
}
.header-rightside .rightside a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    
}
.header-rightside .rightside a .rightcolor{
    background-color: rgb(108, 76, 36);
    padding: 2px;
}

.contact{
    position: absolute;
}

/* Background image set */
.image-set{
    background-image: url(../images/back.png); /* background image path */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* calender font color */
.fa-calendar{
    color: #6C4C24;
}
/* top navbar */
.header {
    background-color: transparent;
}
.header-wrapper p{
    margin-top: 2px;
    font-size: 14px;
}
.header-wrapper .clock{
    color: #edbf77;
}
.header-wrapper .phone{
    color: #edbf77;
    font-size: 14px;
}
/* carousel text */

.carousel-item h1{
    font-size: 100px;
letter-spacing: 12px;
color: #edbf77;
font-family: Tomatoes;
font-weight: 400;
transform: rotate(-12deg);
}

.carousel-item h2{
    margin-top: 23px;
    margin-left: 101px;
font-size: 22px;
letter-spacing: 2px;
color: #edbf77;
font-family: Noto sans CJ Kjp;
}


/* sticky navbar */
#navbar {
    overflow: hidden;
    background-color: transparent;
    z-index: 9999;
}
#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a.linktext {
    background-color: #ddd;
    color: black;
}
 #navbar a.number {
    background-color: #6C4C24;
    color: white;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* conctent text */
.content .contentText{
    margin: 70px 0px;
} 

.content h2{
    font-size: 30px;
letter-spacing: 4px;
color: #edbf77;
font-weight: 700;
font-family: Noto-Serif-Jp;
}
.content p{
    font-size: 16px;
    color: #ffffff;
    font-family: Yu-Gothic;
}
/* concept text */
.concept {
    position: relative;
    text-align: center;
    color: white;
  }
.concept .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}
.concept .centered h2{
    font-size: 30px;
    letter-spacing: 4px;
    color: #edbf77;
    font-weight: 700;
    font-family: Noto-Serif-Jp;
}
.concept .centered p{
    font-size: 16px;
color: #ffffff;
font-family: Yu-Gothic;
}

/*blog list section */
.bloglist{
    margin: 75px 0px;
}
.bloglist .headingtitle{
    font-size: 39px;
letter-spacing: 3px;
color: #edbf77;
font-weight: 700;
font-family: Noto-Serif-Jp;
text-align: center;
}
.bloglist .media-body{
color: whitesmoke;
}
.bloglist .media-body h2{
    font-size: 18px;
letter-spacing: 3px;
color: #ffffff;
font-weight: bold;
font-family: Yu-Gothic;
}
.bloglist .media-body p{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: Yu-Gothic;
}
/* horizontal line */
hr{
    color: whitesmoke;
    background-color: whitesmoke;
}
/* first banner */
.banner {
    position: relative;
    text-align: center;
    color: white;
  }
.banner .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}
.banner .centered h2{
    font-size: 30px;
letter-spacing: 2px;
color: #edbf77;
font-weight: 700;
font-family: Noto-Serif-Jp;
text-align: center;
}
.banner .centered p{
    height: 24px;
font-size: 16px;
line-height: 24px;
color: #ffffff;
font-family: Yu-Gothic;
text-align: center;
}
/* collapse section */
.collapse-section{
    margin: 75px 0px;
}
.collapse-section .headline-Text h2{
    font-size: 36px;
letter-spacing: 3px;
color: #edbf77;
font-weight: 700;
font-family: Noto-Serif-Jp;
text-align: center;
}
.collapse-section .headline-Text p{
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: Yu-Gothic;
    text-align: center;
}
/* collapse card edit */
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card .card-body h1{
    font-size: 20px;
letter-spacing: 2px;
color: #ffffff;
font-weight: bold;
font-family: Yu-Gothic;
text-align: center;
}
.card .card-body h2{
    height: 17px;
font-size: 16px;
line-height: 24px;
color: #ffffff;
font-family: Yu-Gothic;
text-align: center;
}
.card .card-body p{
font-size: 12px;
line-height: 24px;
color: #ffffff;
font-family: Yu-Gothic;
}
/* DRINK and DRINK section */
.drink-section{
    margin: 50px 0px;
}
.food-section .food-drink h2,
.drink-section .food-drink h2{
    font-size: 36px;
letter-spacing: 3px;
color: #edbf77;
font-weight: 700;
font-family: Noto-Serif-Jp;
text-align: center;
}
.item-collapse .card{
    border: 1px solid whitesmoke;
    border-radius: 0px;
}
.item-collapse .card .card-header{
    padding: 0px;
}
.item-collapse .card .card-header h5 a{
    font-size: 16px;
line-height: 50px;
color: #ffffff;
font-family: Yu-Gothic;
}
.textitem{
    height: 65px;
font-size: 16px;
line-height: 24px;
color: #ffffff;
font-family: Yu-Gothic;
}

/* Banner two  */
.banner-two {
    position: relative;
    margin-top: 30px;
    text-align: center;
    color: white;
  }
.banner-two .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}
.banner-two .centered h2{
    font-size: 30px;
    letter-spacing: 2px;
    color: #edbf77;
    font-weight: 700;
    font-family: Noto-Serif-Jp;
    text-align: center;
}
.banner-two .centered p{
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: Yu-Gothic;
    text-align: center;
}
/* news section */
.news{
    margin: 75px 0px;
}

.news .food,
.news .drink{
    font-size: 36px;
letter-spacing: 3px;
color: #edbf77;
font-weight: 700;
font-family: Noto-Serif-Jp;
text-align: center;
}
/* Food category section */
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    color: #edbf77;
}
.tabpnelShow .tab-content .tab-pane p{
    padding: 5px 10px;
    font-size: 14px;
color: #ffffff;
font-family: Koz-Go-Pr6-N;
}
.tabpnelShow nav{
    border: 1px solid whitesmoke;
}
.tabpnelShow nav a{
    font-size: 14px;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: Koz-Go-Pr6-N;
}
.tabpnelShow .tab-content .tab-pane{
    border: 1px solid whitesmoke;
}
.downSign{
    color: #edbf77;
}
/* you tube section */
.youtube h1{
    font-size: 36px;
    letter-spacing: 3px;
    color: #edbf77;
    font-weight: 500;
    font-family: Noto-Serif-Jp;
    text-align: center;
}
.youtube p{
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: Yu-Gothic;
    text-align: center;
}
/* banner three */
.banner-three {
    position: relative;
    text-align: center;
    color: white;
    margin: 75px 0px;
  }
.banner-three .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}
.banner-three .centered h2{
    font-size: 30px;
    letter-spacing: 2px;
    color: #edbf77;
    font-weight: 700;
    font-family: Noto-Serif-Jp;
    text-align: center;
}
.banner-three .centered p{
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: Yu-Gothic;
    text-align: center;
}
/* grid blog section */
.grid-blog{
    margin: 75px 0px;
}
.grid-blog .list-unstyled .media .media-body h2{
    font-size: 13px;
letter-spacing: 1px;
color: #ffffff;
font-family: Yu-Gothic;
}
.grid-blog .list-unstyled .media .media-body h5{
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: Yu-Gothic;
}
.grid-blog .list-unstyled .media .media-body p{
    font-size: 11px;
color: #ffffff;
font-family: Yu-Gothic;
}
.grid-blog .grid-head h2{
    font-size: 30px;
    letter-spacing: 2px;
    color: #edbf77;
    font-weight: 500;
    font-family: Noto-Serif-Jp;
    text-align: center;
}

.grid-blog .card-body h2{
    font-size: 13px;
letter-spacing: 1px;
color: #ffffff;
font-family: Yu-Gothic;
}
.grid-blog .card-body h5{
    font-size: 16px;
letter-spacing: 1px;
color: #ffffff;
font-weight: 700;
font-family: Yu-Gothic;
}
.grid-blog .card-body p{
    font-size: 11px;
color: #ffffff;
font-family: Yu-Gothic;
}
.grid-blog .blog-link {
   margin-top: 20px;
}
.grid-blog .blog-link a{
text-decoration: none;
color: whitesmoke;
padding: 5px;
border: 1px solid whitesmoke;
}
.menu-slider .gallery h2{
    font-size: 24px;
    color: #edbf77;
    margin-bottom: 25px;
}
.border-img{
    border-right: 2px solid white;
}

/* Footer left side */
.footer{
    background-color: black;
    padding-top: 50px;
}
.footer .address{
    color: whitesmoke;
    margin-top: 50px;
}
.footer .address h3{
    font-size: 14px;
    letter-spacing: 3px;
    color: #ffffff;
    font-weight: bold;
    font-family: Yu-Gothic;
}
.footer .address p{
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 500;
    font-family: Yu-Gothic;
}

/* social icon */
.social-tag{
    margin-top: 100px;
}
.social-tag h1{
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    font-family: Yu-Gothic;
    font-weight: bold;
}
.social-icons {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.5em;
    color: #448aaf;
  }
  .social-icons h1 {
    margin: 40px 0;
  }
  .social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .social-icons ul li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
  }
  .social-icons ul li a {
    display: block;
    font-size: 14px;
    margin: 0 5px;
    text-decoration: none;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    padding: 5px 8px;
    color: whitesmoke;
  }
  .social-icons ul li a i {
    color: whitesmoke;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .social-icons ul li a:hover i {
    color: #fff;
  }
  .social-icons ul li a:focus i,
  .social-icons ul li a:active i {
    transition: none;
    color: #fff;
  }
/* Carousel alider */
  .owl-theme .owl-dots .owl-dot span {
    width:30px;
    height:3px;
    margin:5px 7px;
    background:#D6D6D6;
    display:block;
    -webkit-backface-visibility:visible;
    transition:opacity .2s ease;
    /*! border-radius:30px; */
}
.itembanner {
    position: relative;
    text-align: center;
    color: white;
  }
.itembanner .bottom {
    position: absolute;
  bottom: 8px;
  left: 16px;
}
.itembanner .bottom h2{
    font-size: 16px;
color: #fff;
font-weight: 200;
font-family: Noto-Serif-Jp;
text-align: center;
}


/* responsive  */

@media screen and (max-width: 480px) {
    .header-rightside{
        display: none;
    }
    .arrowSign{
        display: none;
    }
    .carousel-item h1{
        font-size: 31px;
    letter-spacing: 12px;
    color: #edbf77;
    font-family: Tomatoes;
    font-weight: 400;
    transform: rotate(-12deg);
    }
    .carousel-item h2{
        margin-top: 0px;
        margin-left: 0px;
    font-size: 8px;
    letter-spacing: 2px;
    color: #edbf77;
    font-family: Noto sans CJ Kjp;
    }
    .bloglist{
        margin: 35px 0px;
    }
    .bloglist .media-body{
        color: whitesmoke;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .textitem{
        margin-top: 20px;
    }
    .food-section{
        padding: 2px 7px;
    }
    .drink-section{
        padding: 2px 7px;
    }
    .bloglist .headingtitle{
    font-size: 39px;
    letter-spacing: 3px;
    color: #edbf77;
    font-weight: 700;
    font-family: Noto-Serif-Jp;
    text-align: center;
    margin-bottom: 30px;
    }
    .collapse-section{
        padding: 2px 7px;
    }
    .content{
        padding: 2px 7px;
    }
    .concept img{
        height: 310px;
    }
    .concept .centered {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
    }
    .concept .centered h2{
        font-size: 18px;
    }
    .concept .centered p{
        font-size: 14px
    }
    .banner img{
        height: 310px;
    }
    .banner .centered h2{
        font-size: 18px;
    }
    .banner .centered p{
        font-size: 14px
    }
    .banner-two img{
        height: 310px;
    }
    .banner-two .centered h2{
        font-size: 18px;
    }
    .banner-two .centered p{
        font-size: 14px
    }
    .banner-three img{
        height: 310px;
    }
    .banner-three .centered h2{
        font-size: 18px;
    }
    .banner-three .centered p{
        font-size: 14px
    }
    .social-tag{
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .youtubelink{
        margin-top: 25px;
    }
}
  